html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #fffdf7;
  background-image: url(./img/background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  color: black
}
a {
  text-decoration: none;
}
.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: auto;
}

.App-link {
  color: #61dafb;
}
.WrapperInputs {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.WrapperInputs h1 {
  color: black
}
.textField {
  margin-bottom: 1em;
  padding: 5px;
  
}
.p1 {
  padding: 1em;
}
.m1 {
  margin: 1em;
}

.fdc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dfsb {
  display: flex;
}
.bb {
  border-bottom: 1px solid #000;
}
.mb {
  margin-bottom: 1em;
}