.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #000;
}
.item span {
    margin-right: 1em;
    color: #000;
}

