.wrapper {
    border: 3px double black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper button {
    margin: 0 -3px -3px -3px ;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
    margin: 5px;
    border-bottom: 1px solid black;
}
.item span {

    padding: 5px 1em;
}
.update {
    border: none;
    cursor: pointer;
}